.picture{
    width: 50px;
     margin-right: 20px;
}
.count, .list-card-chooiced {
    display: flex;
    justify-content: center;
    align-items: center;
}
.count button {
    padding: 10px;
    color: #000;
    outline: none;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    margin-left: 10px;
 }
 .list-card-chooiced {
    margin: 10px 0;
    animation: fade .5s ease-in;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

