.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
 }
 .menu-bar {
 display: flex;
 align-items: center;
 }
 .menu-bar {
    width: 350px;
    justify-content: center;
    border-bottom: 1px solid silver;
    height: 60px;
}