.headerContainer{
    padding: 10px 10px;
    background-color: #203040;
    color: #fff;
}

h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 17px;
}